<% content_for :table_filter_title do %>
  <%= Spree.t(:date_range) %>
<% end %>

<% content_for :table_filter do %>
  <div id="advanced_report_search">
    <%= form_for :search do |s| %>
      <% if @stores %>
          Store:<br /><%= collection_select(:search, :store_id, @stores, :id, :name, { :include_blank => 'Vsi' }, { class: 'select2' } ) %><br />
      <% end %>

      <div id="taxon_products">
      <% if @taxons %>
        <div class="col-sm-12">
          <label><%= t :taxons %>:</label>
          <%= collection_select(:advanced_reporting, :taxon_id, @taxons, :id, :name, { :include_blank => 'Vsi' }, { class: 'select2' } ) %>
        </div>
      <% end %>
      <!-- <%#= t :products %>: <%#= collection_select(:advanced_reporting, :product_id, @products, :id, :name, { :include_blank => 'All' }, { class: 'form-control' } ) %> -->
      </div>

      <div class="date-range-filter field align-center">
        <div class="col-sm-6">
          <%= label_tag nil, Spree.t(:start), class: 'inline' %>
          <%= s.text_field :completed_at_gt, class: 'datepicker datepicker-from form-control' %>
        </div>

        <div class="col-sm-6">
          <%= label_tag nil, Spree.t(:end), class: 'inline' %>
          <%= s.text_field :completed_at_lt, class: 'datepicker datepicker-to form-control' %>
        </div>
      </div>

      <div class="actions filter-actions">
        <%= button Spree.t(:search), 'search'  %>
      </div>
    <% end %>
  </div>
<% end %>

<% content_for :head do %>
  <script type="text/javascript">
    var completed_at_lt = "<%= (@report.unfiltered_params && @report.unfiltered_params[:completed_at_lt]) ? @report.unfiltered_params[:completed_at_lt] : '' %>";
    var completed_at_gt = "<%= (@report.unfiltered_params && @report.unfiltered_params[:completed_at_gt]) ? @report.unfiltered_params[:completed_at_gt] : '' %>";
    $(function() {
      $('#advanced_report_search form').attr('method', 'get');
    });
  </script>
<% end %>

<% if params[:advanced_reporting] %>
  <% if params[:advanced_reporting][:product_id] && params[:advanced_reporting][:product_id] != '' %>
    <input type="hidden" id="hidden_product_id" value="<%= params[:advanced_reporting][:product_id] %>" />
  <% end %>
  <% if params[:advanced_reporting][:taxon_id] && params[:advanced_reporting][:taxon_id] != '' %>
    <input type="hidden" id="hidden_taxon_id" value="<%= params[:advanced_reporting][:taxon_id] %>" />
  <% end %>
<% end %>
