<% content_for :page_title do %>
  <%= t('adv_report.' + @report.name.downcase) %> &middot; <small><%= @report.description %></small>
<% end %>

<% content_for :page_actions do %>
    <li><%= link_to spree.admin_reports_url, :class => 'button btn btn-primary' do %>
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span><%= Spree.t(:back_to_reports_list) %>
      <% end %>
    </li>
<% end %>

<% content_for :sidebar_title do %>
  <% Spree.t(:report_details) %>
<% end %>

<div class="report_details">
  <div class="links">
      <a href="<%= @report.download_url(request.fullpath, 'csv', "all") %>">CSV</a>
  </div>
  <label><%== @report.product_text %></label><br />
  <label><%== @report.taxon_text %></label><br />
  <label><%== @report.date_text %></label><br />
  <label>Skupaj: <span><%= @report.format_total %></span></label>
</div>

<ul id="show_data">
  <% @report.increments.each do |inc| %>
    <li <%= 'class=selected' if inc == :daily %> id="<%= inc.to_s %>">
      <label><%= inc.to_s.capitalize %></label><br />
      <a href="<%= @report.download_url(request.path, 'csv', inc.to_s) %>">CSV</a>
    </li>
  <% end %>
</ul>

<% content_for :head do %>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
      google.load('visualization', '1', {'packages': ['corechart']});
  </script>
  <script type="text/javascript">
      google.setOnLoadCallback(drawChart);

      function drawChart() {
      <% @report.increments.each do |type| %>
          var data_<%= type.to_s %> = new google.visualization.DataTable();
          data_<%= type.to_s %>.addColumn('string', 'Display');
          data_<%= type.to_s %>.addColumn('number', '<%= @report.name %>');
          data_<%= type.to_s %>.addRows(<%= @report.ruportdata[type].size %>);
        <% @report.ruportdata[type].data.reverse.each_with_index do |p, i| %>
          data_<%= type.to_s %>.setValue(<%= i.to_s %>, 0, "<%= p[type.to_s.capitalize] %>");
          data_<%= type.to_s %>.setValue(<%= i.to_s %>, 1, <%= p[@report.column].to_s.gsub(/^\€/, '') %>);
        <% end %>
          var chart_<%= type.to_s %> = new google.visualization.ColumnChart(document.getElementById('<%= type.to_s %>_chart'));
          chart_<%= type.to_s %>.draw(data_<%= type.to_s %>, {
              width: 700,
              height: 400,
              legend: 'none',
              hAxis: { slantedText: true, slantedTextAngle: 30 },
              title: '<%= type.to_s.capitalize + ' ' + @report.name %>'
          });
      <% end %>
      }
  </script>
<% end %>

<%= render :partial => 'spree/admin/reports/advanced_report_criteria', :locals => {} %>

<div class="tab-content">
  <% @report.increments.each do |type| %>
    <div class="tab-pane <%= 'active' if type == :daily %>" id="<%= type.to_s %>">
      <div id="<%= type.to_s %>_data" class="advanced_reporting_data">
          <div id="<%= type.to_s %>_chart"></div>
          <%= raw @report.ruportdata[type].to_html %>
          <script>
            $('.tablesorter').addClass('table table-bordered');
          </script>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $('.nav-tabs.show_data li a').on("click", function(){
    $(this).tab('show');
  });
</script>
